.mycard{
  /* margin-bottom: 1.4rem; */
  height: 100%;
}

.row-cols-md-2>* {
  margin-bottom: 1rem;
}

.cardBody{
  height: 100%;
}

#leisureCard{
  border-color: blue;
  border-width: 2px;
}

#outpostCard{
  border-color: green;
  border-width: 2px;
}

#dltbtn{
  margin-left: 1rem;
  color: red;
}

.cardImg{
  height: 100%;
}
