.form-choice-btn{
    text-Align: center;
    background-color:rgba(0,0,0,0.3);
    padding: 10px;
    color: white;
    width: 450px;
    border-radius: 5px;
    margin-bottom: 30px;
}
#form-header-text{
    font-family: 'Bangers', cursive;
}
.form-choice-btn p {
    margin-bottom: 0px;
}


.choice-btn{
    margin: 5px 40px 20px 40px;
    background-color: #F4A442;
    border: none;
}

.form-logo-img{
    height: 70px;
    width: 70px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform .2s;
}
.form-logo-img:hover{
    transform: scale(1.5);
}
.form-logo-img:focus{
    transform: scale(1.5);
}

.logo-container{
    text-align: center;
}
div.avatar-group{
    text-align: center;
    margin-left: auto;
}
.avatar-radio{
    margin: 10px;
    background-color: transparent;
    border-color: #E8E1D9
}
.avatar-wrap{
    text-align: center;
}

#form-header-text{
    margin-top: 50px;
}
label {
    font-weight: bold;
}