#landing-title{
    text-align: center;
    font-size: 200px;
    font-family: "Moo Lah Lah", cursive;
    color: #F4A442;
}
#title-span{
    color: #125C13;
}
#landing-subtext{
    margin: 30px 30px 50px 30px;
}
#landing-description{
    font-size: 25px;
    margin: 10px 60px;
    text-align: center;
}
#landing-logo{
    width: 300px;
    height: 300px;
    margin: auto;
}
.nav-card{
    text-align: center;
    border: black 2px solid;
    border-radius: 5px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    position: relative;
}
.absolute-centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}
#map-nav-card{
    position: relative;
}
#map-nav-card::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.3;
    background-image: url("./images/map.png");
    background-position: center;
    background-size: cover;
    bacgkround-repeat: no-repeat;
}
#map-nav-card:hover::before{
    opacity: 0.8;
}

#activity-nav-card{
    position: relative
}
#activity-nav-card::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.3;
    background-image: url("./images/activity.png");
    background-position: center;
    background-size: cover;
    bacgkround-repeat: no-repeat;
}
#activity-nav-card:hover::before{
    opacity: 0.8;
}

.rel-text{
    position: relative;
}
.re-text-header{
    position: relative;
    font-weight: 600;
}
#activity-nav-card{

}