#global-nav{
    background-color: #3E7C17;
    border: 1px solid #3E7C17;
    height:56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
}

#global-nav:hover{
    background-color: #3E7C17;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
#nav-brand{
    font-family: 'Moo Lah Lah', cursive;
    color: blue;
}