.new-leasure-form{
    margin: auto;
    padding-left: 50px;
    padding-right: 50px; 
}

.form-label{
    margin-bottom: 0px;
}
.form-control{
    margin-bottom: 10px;
}

#comment-box{
    height: 200px;
}
#leisure-title{
    font-family: 'Bangers', cursive;
}
#description-box{
    height: 150px;
}