.new-outpost-form{
    /* top: 50%;
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
    position: absolute; */
    margin: auto;
    padding-left: 50px;
    padding-right: 50px; 
}

.form-label{
    margin-bottom: 0px;
}
.form-control{
    margin-bottom: 10px;
}

#ocb{
    height: 200px;
}
#odb{
    height: 150px;
}

#outpost-title{
    font-family: "Bangers", cursive;
    font-size: 40px;
}